a,
a:link {
  text-decoration: none;
  color: var(--green-black);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-body-container {
  margin: 0 10px;
}

.cart-item-container {
  padding: 20px 0;
  border-top: solid 1px var(--black-sm);
  width: 100%;
  display: flex;
}

.cart-item-container:last-child {
  border-bottom: solid 1px var(--black-sm);
}

.item-left {
  position: relative;
  width: 100px;
  margin: 40px;
}

.item-left>img {
  position: relative;
  width: 100px;
  height: 100px;
}

.item-right {
  width: 367px;
  display: block;
  position: relative;
}

.item-right-close {
  position: absolute;
  right: 0;
}

.item-right-title {
  overflow: hidden;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-right-price {
  float: right;
}


.cart-item-remove {
  display: block;
  position: relative;
}

.cart-item-remove>#remove {
  display: flex;
  text-decoration: none;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.cart-item-sum {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.cart-item-btn {
  display: block;
  width: 100%;
  height: 75px;
  margin-bottom: 10px;
}

.item-right-close {
  background-color: aqua;
  cursor: pointer;
}