/*------ Common -----*/

/* ----- Box ------*/
.bounding-box {
  /* background-color: burlywood; */
  height: 483px;
  /* position: relative; */
  /* width: calc(100%/3); */
  padding: 0 6.5%;
  overflow: hidden;
  text-align: center;
}

.bounding-box:hover .box-btn {
  transform: translateY(0);
}

.header-box {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.header-box .header-box-flag {
  position: absolute;
  top: 0;
  left: 2%;
  color: white;
  text-transform: uppercase;
}

.flag {
  padding: 2px 10px;
  margin-right: 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
}

.new {
  background-color: #83A48A;
}

.promo {
  background-color: #FAB27E;
}

.best {
  background-color: #024137;
}

/* ------------ Box Image ---------- */
.header-box-wish {
  position: relative;
}

.header-box-wish>a,
a:link {
  text-decoration: none;
}

/* 
  .header-box-wish .btn-wish {
      position: absolute;
      top: 0%;
      right: 2%;
  } */

.header-box-wish .btn-wish img {
  width: 20px;
}

/*------ Production -------*/
.box-production {
  height: 68%;
  position: relative;
}

.box-production .box-img {
  height: 100%;
}

.box-production .box-img img {
  padding: 25px 0;
  width: 100%;
  height: 100%;
}

/*------ Info --------*/
.info-box {
  display: flex;
  flex-direction: column;
  height: 100px;
  position: relative;
  /* background-color: aqua; */
}

.box-info::after {
  content: '';
  position: absolute;
  border: 1px solid;
  width: 100%;
  top: 37%;
}

.info-box .info {
  position: relative;
  height: 35%;
  overflow: hidden;
  /* background-color: #FAB27E; */
  text-align: justify;
  font-size: 0.85rem;
  line-height: 1rem;
}

.info-box .amount::before {
  margin-right: 5px;
}

.info-box .amount {
  text-align: right;
  font-size: .85rem;
  line-height: 4%;
  margin-top: 4%;
  font-weight: 500;
}

.sale {
  text-decoration: line-through;
  color: #767676;
}

.convert-currency::before {
  content: 'VND';
  margin-right: 5px;
}

.convert-currency::after {
  content: '.000';
  margin-right: 5px;
}

/* ----------- Box Button ----------------*/
.box-btn {
  position: relative;
  border-radius: 2px;
  background: #024137;
  border: 1px solid #024137;
  display: flex;
  justify-content: center;

}

.full {
  width: 100%;
  padding: 1% 0;
}

.box-btn a:link {
  text-decoration: none;
  list-style: none;
}

.box-btn a {
  display: flex;
  color: white;
  transition: ease-in-out 0.4s;
}

.box-btn:hover a {
  color: #024137;
}

.btn-info {
  z-index: 1;
}

.bar-full {
  position: relative;
}

.bar-full:hover .bar::after {
  transform-origin: left center;
  transform: scaleX(1);
}

.bar::after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #fff;
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}

.btn-box-info>span {
  z-index: 1;
  position: relative;
  /* color: black; */
  display: inline-flex;
  background-color: none;
  /* font-weight: 400; */
  font-size: 0.85rem;
}

.box-btn:hover .btn-box-info>span>img {
  filter: invert(13%) sepia(69%) saturate(2432%) hue-rotate(153deg) brightness(93%) contrast(98%);
}

.btn-box-info>span>img {
  filter: invert(100%) sepia(0%) saturate(3004%) hue-rotate(348deg) brightness(120%) contrast(97%);
  transition: ease-in 0.4s;
  margin-left: 5px;
}


.box-btn-tranform {
  transform: translateY(100px);
  transition: ease-in-out 0.4s;
}


/* ----------- Box Button Converse ----------------*/
.box-btn-converse {
  /* position: relative; */
  border-radius: 2px;
  background: #83A48A;
  /* border: 1px solid #83A48A; */
  /* display: flex; */
  /* justify-content: center; */
  /* width: 100%; */
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full {
  width: 100%;
  /* padding: 1% 0; */
}

.box-btn-converse a:link {
  text-decoration: none;
  list-style: none;
}

.box-btn-converse a {
  display: flex;
  color: white;
  transition: ease-in-out 0.4s;
}

.box-btn-converse:hover a {
  color: #83A48A;
}

.btn-info {
  z-index: 1;
}

.btn-box-converse-info>span {
  z-index: 1;
  position: relative;
  /* color: black; */
  display: inline-flex;
  background-color: none;
  /* font-weight: 400; */
  font-size: 0.85rem;
}

.box-btn-converse:hover .btn-box-converse-info>span>img {
  filter: invert(66%) sepia(22%) saturate(331%) hue-rotate(81deg) brightness(90%) contrast(86%);
}

.btn-box-converse-info>span>img {
  filter: invert(100%) sepia(0%) saturate(3004%) hue-rotate(348deg) brightness(120%) contrast(97%);
  transition: ease-in 0.4s;
  margin-left: 5px;
}

/* --------- Catalog ------- */
.catalog {
  padding: 0;
  margin: 0 auto;
  /* width: 85%; */
  height: 100%;
  position: relative;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
}

.catalog-sub {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

.catalog-sub-description {
  margin-top: 60px;
  padding: 0 3.5%;
}

/* -----------Catalog Title -------------- */
.catalog-sub-title {
  text-align: center;
  color: #101010;
  text-transform: uppercase;
}

.catalog-sub-title .title {
  position: relative;
}

.catalog-sub-title .title::before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  margin-top: -2px;
  background-color: #767676;
}

.catalog-sub-title .title span {
  background-color: #fff;
  vertical-align: top;
  position: relative;
  display: inline-block;
  padding: 0 80px;
}

.catalog-sub-title .title span::before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: -5px;
  width: 12px;
  height: 100%;
  margin-top: -19px;
  background: url(../../../assets//img/bar_pageTitArea.png);
}

.catalog-sub-title .title span::after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  right: -5px;
  width: 12px;
  height: 100%;
  margin-top: -19px;
  background: url(../../../assets//img/bar_pageTitArea.png);
}

/* --------- Story ---------  */
.story {
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: justify;
  font-weight: 400;
}

.story-wrap {
  position: relative;
  display: inline-flex;
  background: #F1F4F4;
  width: 100%;
  height: 320px;
  margin-top: 50px;
}

/* ------------Story Image----------- */
.story-wrap-img {
  position: relative;
  width: calc(100%/2);
  height: 100%;
}

.story-wrap-img img {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ----------Story Info-------------  */
.story-wrap-info {
  padding: 3.5% 6.5%;
  width: calc(100%/2);
  position: relative;
}

.story-wrap-info-content-title {
  font-size: 1.25rem;
  font-weight: 450;
}

.story-wrap-info-content-description {
  letter-spacing: 1px;
}

.story-wrap-btn {
  position: relative;
  /* width: 30%; */
}

.story-wrap-btn a:link,
a:hover,
a:visited {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
}

.story-warp-btn-item {
  position: relative;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  padding: 0;
  /* padding: 2%; */
}

.box-btn-story {
  padding: 2% 10%;
  font-size: 20px;
  border: 1px solid #83A48A;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-box-info-story>span {
  z-index: 1;
  position: relative;
  color: #83A48A;
  display: inline-flex;
  background-color: none;
  /* font-weight: 400; */
  font-size: 0.9rem;
  transition: all 0.4s ease;
}

.box-btn-story:hover .btn-content-story>img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(55deg) brightness(110%) contrast(101%);
}

.btn-box-info-story>span>img {
  filter: invert(66%) sepia(22%) saturate(331%) hue-rotate(81deg) brightness(90%) contrast(86%);
  transition: ease-in 0.4s;
  margin-left: 5px;
}

.box-btn-story:hover .btn-box-info-story>span {
  color: white;
}

.bar-converse-full {
  position: relative;
}

.bar-converse-full:hover .bar-converse::after {
  transform-origin: left center;
  transform: scaleX(1);
}

.bar-converse::after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: #83A48A;
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}

/* ----------- Story List Product ---------- */
.story-production {
  position: relative;
  margin: 0;
  padding: 0 15%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.story-production-wrap {
  /* position: relative; */
  display: inline-flex;
  padding: 5% 0;
}

.story-production-item {
  position: relative;
  width: calc(100%/3);
  margin: 10px;
}

.story-production-item-img {
  position: relative;
  width: 100%;
}

.story-production-item-img>img {
  position: relative;
  width: 100%;
  height: 100%;
}

.story-production-item-info {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 20%;
}

/* ------------ Review ------------ */
.review {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 10px;
  /* width: calc(100%/3); */
  margin-bottom: 100px;
}

.review-wrap {
  position: relative;
  display: block;
  padding: 4%;
  height: 520px;
  border: 1px solid #B4B4B4;
}

.review-wrap-header {
  display: flex;
  height: 60px;
  margin-bottom: 15px;
}

.review-icon {
  position: relative;
  margin-right: 10px;
}

.review-icon>img {
  height: 100%;
}

.review-title {
  margin-top: 10px;
  width: 100%;
}

.review-title>h5 {
  font-size: 1rem;
}

.review-header-info {
  display: flex;
  font-size: 0.75rem;
  color: #B4B4B4;
  justify-content: space-between;
}

.review-wrap-image {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}

.review-wrap-image>.review-image {
  position: relative;
}

.review-wrap-image>.review-image>img {
  width: 100%;
  height: 100%;
}

.review-wrap-star {
  margin-bottom: 10px;
}

.review-star {
  margin-right: 2px;
}

.review-wrap-info {
  line-height: 20px;
  /* height: 150px; */
  overflow: hidden;
}

.review-wrap-info>p {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.review-tag-wrap {
  position: relative;
  display: inline-block;
  color: #024137;

}

.review-tag {
  margin-right: 2px;
  font-size: 0.75rem;
}

.review-tag::before {
  content: '#'
}

.review-warp-footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 48px);
  display: inline-flex;
  padding: 5% 0;
  border-top: 1px solid #B4B4B4;
  font-size: 0.75rem;
  font-weight: 400;
}

.review-general-footer {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.review-general-footer>img {
  filter: invert(75%) sepia(11%) saturate(15%) hue-rotate(55deg) brightness(95%) contrast(89%);
  margin-right: 5px;
}

/* --------- About Company -------------*/
.about {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 100% - 25px;
  margin-top: 70px;
  margin-bottom: 100px;
}

.about-wrap {
  position: relative;
  display: block;
}

.about-wrap-img {
  position: relative;
  margin-bottom: 20px;
}

.about-wrap-img>img {
  width: 100%;
  height: 100%;
}

.about-wrap>h5 {
  font-weight: 460;
  margin-bottom: 20px;
}

.about-wrap>p {
  line-height: 20px;
  font-size: 0.8rem;
  text-align: justify;
}

/* --------- General Button -------- */

.general-wrap-btn {
  position: relative;
  width: 100%;
  height: 100%;
}

.general-wrap-btn a:link,
a:hover,
a:visited {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
}

.general-warp-btn-item {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ---------- Service --------------- */
.service {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 100% - 25px;
  margin-top: 70px;
  margin-bottom: 100px;
  height: 270px;
}

.service-wrap {
  display: flex;
  line-height: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-wrap-icon {
  position: relative;
  width: 81px;
  height: 81px;
  margin-bottom: 20px;
}

.service-wrap-icon>img {
  width: 100%;
  height: 100%;
}

.service-wrap>h6 {
  font-size: 1.25rem;
  font-weight: 450;
  color: #024137;
}

.service-wrap>p {
  color: #024137;
  text-align: justify;
}

.service-wrap-footer {
  position: absolute;
  padding: 5% 0;
  display: flex;
  bottom: 0;
  color: #024137;
}

.service-wrap-footer>.service-wrap-link {
  position: relative;
  text-decoration: none;
  display: block;
  color: #024137;
}

.service-wrap-footer>.service-wrap-link:after {
  content: '';
  position: absolute;
  display: flex;
  width: 100%;
  border: 2px solid #024137;
}

/* ---------- FIT --------------- */
.fit-info {
  float: left;
  position: relative;
  height: 30px;
  margin-top: 18px;
  margin-right: 20px;
  line-height: 30px;
  box-sizing: border-box;
}

.fit-info>img {
  width: 29px;
  height: 29px;
  margin-right: 8px;
}


/*--------------COUNTER-------------- */

.item-body-counter-container {
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 1%;
}

.item-body-counter {
  width: 100px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 30px;
}

.item-body-counter>p {
  width: 50px;
  text-align: center;
}

.item-body-counter>a {
  text-decoration: none;
  display: block;
  position: relative;
  width: 25px;
  text-align: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}