@font-face {
  font-family: 'HKNova';
  font-weight: 500;
  src: url('assets/fonts/HKNova-Medium.otf');
}

@font-face {
  font-family: 'HKNova-Thin';
  src: url('assets/fonts/HKNova-Thin.ttf') format('ttf');
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 500;
  font-family: 'HKNova';
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

a, a:link {
  text-decoration: none;
  color: #83A48A;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

:root {
  --green-light: #83A48A;
  --green-black: #024137;
  --black-sm: rgba(0, 0, 0, 0.5)
}

/* --------------- HEADER ----------- */

.header {
  position: fixed;
  z-index: 100;
  width: 100vmax;
  display: block;
  background-color: blue;
}

.header-content {
  display: grid;
  width: 100%;
  height: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
}

.header-content nav {
  height: 100%;
}

.header-content nav ul {
  display: flex;
}

.header-content nav ul li {
  padding: 2rem 2px;
}

.header-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-content ul li {
  align-self: center;
  margin: 0 4px;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: black;
  font-family: 'HKNova-Thin';
  transition: color 1s ease-in-out;
  border-bottom: 0px;
  transition: border-bottom 0.5s ease-in-out;
}

.header-content ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.header-content img {
  width: 50%;
}

.header-content ul li img {
  position: relative;
  width: 40px;
  display: flex;
  top: 5px;
  padding: 5px;
}

#header-logo {
  display: flex;
  justify-content: center;
}

#header-logo a img {
  width: 150px;
}


/* ---------------- OTHER ---------------- */

/* -------- UNDER LINE ---- */

.under-line {
  color: black;
  border-bottom: 0px;
  transition: all 0.5s ease-in-out;
}

.under-line:hover {
  color: #024137;
}

.under-line::after {
  content: '';
  display: block;
  position: relative;
  border-bottom: 2px solid #024137;
  width: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.under-line:hover::after {
  width: 100%;
}

/* -------- ICON DECORATION ---- */

.icon-decoration {
  margin-right: 20px;
  height: 100%;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  top: 10px;
  background-color: none;
  transition: background-color 0.5s ease;
}

.icon-decoration>.img2 {
  top: 5px;
  left: 3px;
}

.icon-decoration:hover {
  background-color: #024137;
}

.icon-decoration:hover>.img {
  filter: brightness(0) invert(1);
}

/* -------- Header Modal ---- */
.under-line:hover>.header-modal {
  display: block;
}

.header-modal {
  position: absolute;
  display: none;
  width: 100%;
  max-height: calc(100vh - 5rem);
  top: 80px;
  left: 0;
  overflow: auto;
  transition: display 1s ease-in-out;
  background-color: white;
  z-index: 1;
}

.header-modal-content {
  padding: 50px 0 40px;
  margin: 0 auto;
}

/* ---- Product Modal --- */
.header-modal-product-content-detail {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 4%;
  align-self: start;
  margin: 0 auto;
}

.header-modal-product-list {
  position: relative;
  width: 300px;
  line-height: 2.0;
  font-size: 1rem;
  overflow-y: hidden
}

.header-modal-product-list>.header-modal-product-list-element {
  margin-bottom: 10px;
}

.header-modal-product-list-title {
  text-align: left;
  position: relative;
  width: fit-content;
  font-size: 1.25rem;
}

.header-modal-product-list ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.header-modal-product-list ul li {
  font-size: 1rem;
  display: block;
  text-align: left;
  position: relative;
  width: 100%;
  padding: 0px !important;
}

.header-modal-product-list ul li a {
  position: relative;
  width: fit-content;
  color: rgba(0, 0, 0, 0.4);
}

/* ------ About Modal ------ */

.header-modal-about-content-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 4%;
  margin: 0 auto;
}

/* ---- About Content Modal --- */
.header-modal-about-list {
  margin-left: 20px;
}

.header-modal-about-list h2 {
  text-align: left;
}

.header-modal-about-list ul {
  display: flex;
  flex-direction: column;
  height: auto;
}

.header-modal-about-list ul li {
  line-height: 1.4;
  width: 100%;
  text-align: left;
  padding: 0px !important;
  margin-top: 5px;
}

.header-modal-about-list ul li a {
  width: fit-content;
  color: rgba(0, 0, 0, 0.5);
}

/* ---- About Image Modal --- */
.header-modal-about-image {
  display: flex;
  flex-direction: row;

}

.header-modal-about-image a {
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.header-modal-about-image a>img {
  position: relative;
  width: 100% !important;
  height: 80%;
  text-align: left;
}

.header-modal-about-image a>p {
  text-align: left;
}

@media screen and (max-width: 500px) {
  #header-logo a img {
    width: 100px;
  }
}