.main-login {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-login-content {
  padding-top: 5rem;
}

.main-login-content-box {
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
}

.main-login-content-box .sign-in-content {
  font-size: 16px;
  line-height: 1.5;
  margin: auto 5%;
  text-align: center;
}

.main-login-content-box .sign-in-content h4 {
  font-size: 2rem;
}

.main-login-content-box .sign-in-content form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.main-login-content-box .sign-in-content form input {
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  border: 0px;
  border-bottom: 1px solid #8795b2;
  margin-bottom: 10px;
}

.main-login-content-box .sign-in-content form input:focus-visible {
  border-bottom: 1px solid #83a48a;
}

.main-login-content-box .sign-in-content form input::placeholder {
  color: rgba(135, 149, 178, 0.6);
  font-size: 0.8rem;
}
.main-login-content-box .sign-in-content form #forget {
  text-decoration: none;
  color: #83a48a;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.main-login-content-box .sign-in-content form #forget span {
  border-bottom: 1px solid #83a48a;
}

.main-login-content-box .sign-in-content form .sign-in-content-btn {
  display: flex;
  justify-content: center;
}

.main-login-content-box
  .sign-in-content
  form
  .sign-in-content-btn
  .sign-in-content-btn-box {
  position: relative;
  width: 50%;
}

.main-login-content-box .sign-in-content p {
  font-size: 1rem;
}

.main-login-content-box .sign-in-content .note {
  font-size: 12px;
  color: rgba(135, 149, 178, 0.8);
  text-align: left;
}

.main-login-content-box .sign-in-content .note::before {
  content: "*";
}

.main-login-content-box .sign-up-content {
  font-size: 16px;
  line-height: 1.5;
  padding: 0 5%;
  text-align: center;
  border-left: 1px solid #000;
}

.main-login-content-box .sign-up-content h4 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.main-login-content-box .sign-up-content p {
  font-size: 16px;
  color: rgba(135, 149, 178, 0.8);
  text-align: left;
  margin-bottom: 20px;
}

.certificationForgotPass {
  /* overflow: auto;
  position: fixed;
  z-index: 7000; */
  left: 1000;
  top: 500;
  transform:translate(-500%, -1000%);
  /* width: 100%;
  min-width: 1000px;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); */
  display: 'flex';
  align-items: center;
  justify-content: center;
}

.main-login-content-modal-header {
  border-bottom: none;
}

.main-login-content-modal-header > .close {
  margin: -1rem -1rem -1rem auto;
  border: 1px solid #83A48A;
  border-radius: 50%;
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  height: 60px;
  padding: 15px 0 10px 20px;
  width: 60px;
}

.main-login-content-modal-header > .close:target, .close:active, .close:focus, .close:active.focus  {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.main-login-content-modal-header >  .close  > span {
  color: #83A48A
}

.main-login-content-form-radio {
  height: 70px;
  display: flex;
}

.main-login-content-form-input {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-top: 1px solid rgba(135, 149, 178, 0.5);
}

.main-login-content-form-input > span {
  font-size: 0.9rem;
  color: #767676;
  margin-bottom: 10px;
}

.main-login-content-form-input > .main-login-content-form-input-text-box {
  display: flex;
}

.main-login-content-form-input-button {
  height: 38px;
  width: 150px;
  margin: 0 10px;
}