.main {
    padding: 0;
    margin: 0;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
  
  /* ------ Login ----- */
  .main-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    width: auto;
    /* background-color: blueviolet; */
  }
  
  .main-content-header-description {
    position: relative;
    display: flex;
    align-self: center;
  }
  
  .main-content-header-description>span {
    align-self: center;
  }
  
  .img-header {
    position: relative;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 20px;
    height: 100%;
  }
  
  .img-header>img {
    display: flex;
    width: 30px;
  }
  
  /* ------ button ------*/
  .main-content-header-button {
    display: flex;
    align-items: center;
    /* background-color: chartreuse; */
    padding: 0;
    margin: 0;
    /* width: 25%; */
  }
  
  .main-content-header-button a {
    /* align-self: center; */
    /* padding: 10px 40px; */
    /* background-color: darkorange; */
    margin-right: 10px;
    text-decoration: none;
    /* display: flex; */
    /* border: 1px solid black; */
    /* border-radius: 2px; */
    z-index: 1;
  }
  
  .main-content-header-button a>img {
    align-self: center;
    margin-left: 10px;
  }
  
  .login-bg {
    position: relative;
    height: 100%;
    width: 150px;
    display: flex;
    margin-right: 10px;
  }
  
  .signup-bg {
    position: relative;
    height: 100%;
    width: 300px;
    display: flex;
    margin-right: 10px;
  }
  
  /* ---------------- Slider --------------- */
  .main-slider {
    min-height: 500px;
    height: 500px;
    /* background-color: aqua; */
    display: block;
  }
  
  .main-slider-cover {
    height: 100%;
  }
  
  .main-slider-content {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: brown; */
    justify-self: center;
    justify-items: center;
    justify-content: center;
    align-self: center;
  }
  
  .main-slider-item {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    /* background-color: chartreuse; */
    margin-right: 0 2px;
  }
  
  .main-slider-image {
    width: 100%;
    position: relative;
    display: block;
    z-index: -1;
  }
  
  .main-slider-image>img {
    width: 100%;
    height: 500px;
  }
  
  .main-slider-description {
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 2rem;
    top: 67%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    position: absolute;
  }
  
  .main-slider-description>h3 {
    font-size: 3rem;
    text-transform: uppercase;
  }
  
  /* --------- Divide ------- */
  .divide {
    margin: 5px auto;
    margin-bottom: 30px;
  }
  
  /* --------- MainContent ------- */
  .main-content-catalog {
    padding: 0;
    margin: 0 auto;
    width: 85%;
    height: 100%;
    position: relative;
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .main-content-catalog-sub {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
  }
  
  /* ---------Title-------*/
  
  .main-content-catalog-sub-title {
    text-align: center;
    color: #101010;
    text-transform: uppercase;
  }
  
  .title {
    position: relative;
  }
  
  .title::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    margin-top: -2px;
    background-color: #767676;
  }
  
  .title span {
    background-color: #fff;
    vertical-align: top;
    position: relative;
    display: inline-block;
    padding: 0 80px;
  }
  
  .title span::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: -5px;
    width: 12px;
    height: 100%;
    margin-top: -19px;
    background: url(../../assets//img/bar_pageTitArea.png);
  }
  
  .title span::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: -5px;
    width: 12px;
    height: 100%;
    margin-top: -19px;
    background: url(../../assets//img/bar_pageTitArea.png);
  }
  
  /* ------------- Content --------------*/
  .main-content-catalog-sub-description {
    margin-top: 60px;
    padding: 0 3.5%;
  }
  
  .box {
    background-color: burlywood;
    height: 100%;
    position: relative;
    width: calc(100%/3);
    padding: 0 6.5%;
  }
  
  /* ------------- Content - Img --------------*/
  .box-thumb {
    height: 60%;
    position: relative;
  }
  
  .box-thumb a {
    height: 100%;
  }
  
  .box-thumb a img {
    padding: 25px 0;
    width: 100%;
  }
  
  /* ------------- Content - Img --------------*/
  .box-flag {
    position: absolute;
    top: 0;
    left: 7%;
    color: white;
    text-transform: uppercase;
  }
  
  .box-flag .flag {
    padding: 4px;
    margin-right: 10px;
    display: inline-block;
  }
  
  .box-flag .new {
    background-color: #83A48A;
  }
  
  .box-flag .promo {
    background-color: #FAB27E;
  }
  
  .box-wish .btn-wish {
    position: absolute;
    top: 2px;
    right: 20px;
  }
  
  .box-wish .btn-wish img {
    width: 20px;
  }
  
  /* ------------- Content - Info --------------*/
  .box-info {
    display: flex;
    flex-direction: column;
    height: 110px;
    position: relative;
    background-color: aqua;
  }
  
  .box-info::after {
    content: '';
    position: absolute;
    border: 1px solid;
    width: 100%;
    top: 37%;
  }
  
  .box-info .info {
    position: relative;
    height: 35%;
    overflow: hidden;
    background-color: #FAB27E;
    text-align: justify;
  }
  
  .box-info .price::before {
    content: 'VND';
    margin-right: 5px;
  }
  
  .box-info .price {
    text-align: right;
  }
  
  .caret-left {
    transform: translateX(0);
  }
  
  .caret-left:hover {
    transform: translateX(-5px);
  }
  
  .caret-right {
    transform: translateX(0);
  }
  
  .caret-right:hover {
    transform: translateX(5px);
  }
  
  /* ---------- Footer -------------  */
  .footer {
    box-sizing: border-box;
    margin: 0;
    padding: 5% 0;
    font-size: 16px;
    color: #fff;
    background: #024137;
  }
  
  .footer-top {
    padding: 0 8%;
    display: flex;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* ------------- Footer Logo 1 ------------------- */
  .footer-logo-1 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo-1>img {
    filter: invert(100%) sepia(25%) saturate(0%) hue-rotate(42deg) brightness(113%) contrast(100%);
    width: 60%;
    margin-bottom: 20px;
  }
  
  .footer-logo-1>ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-logo-1>ul>a>li {
    border-radius: 50%;
    padding: 3%;
    border: 1px solid #fff;
    display: flex;
    margin-right: 5px;
  }
  
  .footer-logo-1>ul>a>li>img {
    filter: invert(100%) sepia(25%) saturate(0%) hue-rotate(42deg) brightness(113%) contrast(100%);
  }
  
  .footer-logo-1>ul>a,
  a:link {
    text-decoration: none;
    display: contents;
  }
  
  /* ------------- Footer Logo 2 ------------------- */
  .footer-logo-2 {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
  }
  
  .footer-logo-2>img {
    width: 20%;
    margin-right: 5px;
  }
  
  .footer-logo-2>.foot-d {
    line-height: 20px;
  }
  
  /* ------------- Footer INFO -------------  */
  .footer-info {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    line-height: 25px;
    width: 100%;
  }
  
  .footer-des {
    position: relative;
  }
  
  .footer-des-wrap {
    /* padding: 0 2%; */
    margin-bottom: 40px;
  }
  
  .footer-des-wrap>h6 {
    text-transform: uppercase;
    font-weight: 450;
  }
  
  .footer-des-wrap>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-des-wrap>ul>li>a {
    text-decoration: none;
    color: #fff;
  }
  
  /* -------------- Footer Bottom ---------------- */
  .footer-bot {
    padding: 0 8%;
    border-top: 1px solid #767676;
    font-size: 14px;
    line-height: 15px;
    color: #767676;
    padding-top: 2%;
  }
  
  
  .dash {
    border-left: 1px solid #767676;
  }
  
  .back {
    transform: translateX(-10px);
  }
  
  .footer-bot-1 {
    position: relative;
    width: 100%;
  }
  
  .footer-bot-1>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    transform: translateX(-20px);
    display: inline-flex;
  }
  
  .footer-bot-1>ul>li {
    padding: 0 2%;
  }
  
  .footer-bot-1>ul>li>a {
    text-decoration: none;
    color: #81B3AF;
  }
  
  .active {
    color: #fff !important;
  }
  
  
  /*--------------- ITEM MODAL -----------------*/
  .item-modal-container {
    display: flex;
    position: relative;
  }
  
  .item-modal-body-left{ 
    width: 40%;
  }
  
  .item-modal-container > a {
    text-decoration: none;
  }
  .item-modal-body-right > .header-box {
    margin-bottom: 30px;
  }
  
  .item-modal-body-title {
    margin-top: 8px;
    font-family: 'noto md';
    font-size: 12px;
    color: #767676;
  }
  
  .item-modal-body-react {
    display: flex;
  }
  
  .review-general-footer{ 
    padding-left: 30px;
    border-left: 1px solid
  }
  .item-slider-container {
    display: block;
    position: relative;
    margin-right: 10%;
  }
  
  .item-slider-main-screen {
    position: relative;
    width: 100%;
  }
  
  .item-slider-main-screen>img {
    position: relative;
    width: 100%;
  }
  
  .list-fit {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0 20px 20px 20px;
    display: flex;
  }
  
  .review-list-start {
    padding-right: 30px;
  }
  
  .item-modal-body-description {
    padding: 25px 0;
  }
  
  .item-modal-body-amount {
    width: 100%;
    position: relative;
  }
  
  .item-modal-body-point {
    display: inline-flex;
    position: relative;
    width: 100%;
    padding: 5px 0;
  }
  
  .item-modal-body-point > h4 {
    position: relative;
    min-width: 160px;
    display: block;
    padding-top: 1%;
  }
  
  .item-modal-body-point > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .item-modal-body-point > ul > li {
    margin-right: 10px;
    font-size: 0.9rem;
  }
  
  .item-modal-body-point > ul > li > span {
    color: #024137
  }
  
  .item-modal-body-counter {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 1%; 
  }
  
  .item-modal-body-deal {
    width: 100px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 30px;
  }
  
  .item-modal-body-deal > p {
    width: 50px;
    text-align: center;
  }
  
  .item-modal-body-deal > a {
    text-decoration: none;
    display: block;
    position: relative;
    width: 25px;
    text-align: center;
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.5);
  }
  
  .item-modal-body-amount {
    position: relative;
    /* background-color: rosybrown; */
    /* width: 100%; */
  }
  
  .item-modal-body-amount-display {
    position: relative;
    font-size: 1.65rem;
    font-weight: 500;
    float: right;
    text-align: center;
  }
  
  .item-modal-body-amount-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .item-modal-body-btn {
    display: flex;
    width: 100%;
    bottom: 0;
  }
  
  .item-modal-body-btn-1 {
    position: relative;
    width: 50%;
  }
  
  .item-modal-body-btn-2 {
    position: relative;
    width: 50%;
  }